<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>{{name}}</h1>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">New Client</div>
					<!-- (input) event is for updating clientName variable with the typed value -->
					<input class="form-control"
						 [value]="clientName"
						 (input)="clientName=$event.target.value"
						 (keyup.enter)="addClient(clientName);"
						 (blur)="addClient(clientName)">
				</div>
				<label class="control-label">{{clientName}}</label>
			</div>
			<div class="form-group">
				<button (click)="addClient(clientName)" class="btn btn-primary">Add</button>
			</div>
			<div class="form-group">
				<ul class=" list-group clientlist">
					<li (click)="onClick(client)" *ngFor="let client of clients" class="list-group-item">
						<h4>{{client}}</h4>
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>