
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3>New employee</h3>
        <form [formGroup]="form" (submit)="submit()" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2">First name</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="firstName" class="form-control" />
                    <div class="text-danger"
                         *ngIf="form.controls.firstName.touched && form.controls.firstName.hasError('required')">
                        First name is required
                    </div>
                    <div class="text-danger"
                         *ngIf="form.controls.firstName.touched && form.controls.firstName.hasError('minlength')">
                        First name must have at least 3 characters
                    </div>
                    <div class="text-danger"
                         *ngIf="form.controls.firstName.touched && form.controls.firstName.hasError('nospecialchars')">
                        First name cannot contain . (dot) or space
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Last name</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="lastName" class="form-control" />
                    <div class="text-danger" *ngIf="form.controls.lastName.touched && form.controls.lastName.hasError('required')">Last name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Username</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="userName" class="form-control" />
                    <div class="text-danger" *ngIf="form.controls.userName.touched && form.controls.userName.hasError('required')">User name is required</div>
                    <div class="text-danger" *ngIf="form.controls.userName.touched && form.controls.userName.hasError('userexists')">User name already exists</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" (click)="clear()" class="btn btn-info" >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>