<div class="row">
    <div class="col-md-12">
        <h3 [ngPlural]="status">
            <template ngPluralCase="=0">No courses available...</template>
            <template ngPluralCase="=1">Few courses available...</template>
            <template ngPluralCase="=more">Plenty of courses available...</template>
        </h3>
        <event-thumbnail *ngFor="let event of events"  
        [event]='event'
        (clickEvent)="clickEventhandled($event)"></event-thumbnail>        
    </div>
</div>
<hr/>